/**
 * This file provides styles for the general layout structure.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Octavia Nichols <octavia@octavianichols.com>
 */

body {
    margin: 0 auto;
}
#dokuwiki__site {
    margin: 0 auto;
    max-width: __site_width__;
    padding: auto;
}
#dokuwiki__site > .site {
}

#dokuwiki__header {
}
#dokuwiki__header > .pad {
}
    #dokuwiki__header .headings {
        float: left;
    }
    [dir=rtl] #dokuwiki__header .headings {
        float: right;
    }

    #dokuwiki__header .tools {
        float: right;
        text-align: right;
    }
    [dir=rtl] #dokuwiki__header .tools {
        float: left;
        text-align: left;
    }

#dokuwiki__site .wrapper {
    position: relative;
}

    #dokuwiki__aside {
        width: __sidebar_width__;
        float: none;
        position: relative;
        display: block;
    }
    [dir=rtl] #dokuwiki__aside {
        float: none;
    }
    #dokuwiki__aside > .pad {
        margin: 0 1.5em 0 0;
    }
    [dir=rtl] #dokuwiki__aside > .pad {
        margin: 0 0 0 1.5em;
    }

#dokuwiki__content > .pad {
	margin-right: __toc_width__;
	padding-right: 2em;
}
[dir=rtl] #dokuwiki__content > .pad {
	margin-left: __toc_width__;
	padding-left: 2em;
}

#dokuwiki__footer {
    clear: both;
}
#dokuwiki__footer > .pad {
}
